.page > header, .page > footer {
    background: #b2bbca url(/images/navbar-bg-red.png) repeat-x;
}
.feed .container {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d77a78), to(#bf4e4a));
	background-image: -webkit-linear-gradient(top, #d77a78, #bf4e4a);
	background-image: -moz-linear-gradient(top, #d77a78, #bf4e4a);
	background-image: -ms-linear-gradient(top, #d77a78, #bf4e4a);
	background-image: -o-linear-gradient(top, #d77a78, #bf4e4a);
	background-image: linear-gradient(top, #d77a78, #bf4e4a);
}
.feed > a.tappable-active .container {
	background-color: #d77a78;
}
.header-back-button button{
    background: transparent url(/images/button-active-red.png) no-repeat;
	-webkit-border-image: url(/images/back-button-red.png) 4 8 4 26;
	-moz-border-image: url(/images/back-button-red.png) 4 8 4 26 fill;
	-ms-border-image: url(/images/back-button-red.png) 4 8 4 26 fill;
	-o-border-image: url(/images/back-button-red.png) 4 8 4 26 fill;
/*	border-image: url(/images/back-button-red.png) 4 8 4 26 fill;*/
	background-image: url(/images/back-button-active-red.png);
}
.header-back-button.tappable-active button {
	-webkit-border-image: url(/images/back-button-active-red.png) 4 8 4 26;
	-moz-border-image: url(/images/back-button-active-red.png) 4 8 4 26 fill;
	-ms-border-image: url(/images/back-button-active-red.png) 4 8 4 26 fill;
	-o-border-image: url(/images/back-button-active-red.png) 4 8 4 26 fill;
/*	border-image: url(/images/back-button-active-red.png) 4 8 4 26 fill;*/
}
