<li class="feed">
    <a href="{{url}}">
        <div class="container">
            <div class="content">
                <div class="header">
                    <strong>{{title}}</strong>
                    <span>{{credit}}</span>
                    <img src="{{thumbnail}}" alt="{{title}}">
                </div>
                <p>{{description}}</p>
            </div>
        </div>
    </a>
</li>
