<li class="feed">
    <a href="{{url}}">
        <strong>{{title}}</strong>
        <span>{{credit}}</span>
        <img src="{{thumbnail}}" alt="{{title}}">
        <p>{{description}}</p>
    </a>
</li>
